<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/png" />
    <title>Notifications</title>
  </head>
  <body class="page">
    <header class="header">
      <div class="wrapper">
        <button class="notifications__button button" id="button">
          <div class="notifications__count" id="count"></div>
        </button>
      </div>
    </header>
    <main>
      <ul class="notifications__list hidden" id="notifications"></ul>
    </main>
    <footer></footer>

    <script type="text/template" id="template">
      <li class="notifications__item">
        <h3 class="notification__title"><%- title %></h3>
        <p class="notification__text"><%- text %></p>
        <button class="notification__remove button"></button>
      </li>
    </script>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/underscore/underscore.js"></script>
    <script src="../node_modules/backbone/backbone.js"></script>
  </body>
</html>
